
.ant-card-body {
    .ant-card-meta-description{
        margin-top: -10px;
    }
    .Detail{
        color: black;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .img{
        width: 100%;
        height: 500px;
    }
    .menu{
        margin-top: 5px;
        margin-bottom: 5px;
        .button{
            color: rgba(0, 0, 0, 0.55);
            border: 0px;
            background-color: white;
        }
    }
}
