
span.lable{
    font-size: 40px;
    
    margin-left: 100px;
    margin-top: 90px;
    
    color: #009688;  
    }

  .form-signin{
    width: 600px;
    height: 500px;
  margin-top: 50px;
  margin-left: 200px;
  color: #17a2b8;
  background-color: #EAEAEA;
  border: 1px solid #ccc;
  }
  .cart-body{ 
    padding-top: 50px;
    padding-left:100px;;
  }
  .form-login{
    width: 600px;
    height: 450px;
  margin-top: 50px;
  margin-left: 200px;
  color: #17a2b8;
  background-color: #EAEAEA;
  border: 1px solid #ccc;
  border: 1px solid #ccc;
  }
  .cart-body .form-control{
    display: block;
      width: 300px;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: black;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      margin-left: 150px;
      margin-top: -40px;
  }
 */
  .button-login
  {
   margin-left: -20px;
   margin-top: 20px;
  }
 
  