.profile{
  margin-left: 5%;
  width: 90%;
  background-color: #ffffff;
  
  color: rgba(0, 0, 0, 0.65);
  img{
    height: 300px;
    width: 100%;
  }
  .profileleft{
    width: 100%;
    
    margin-top: 110px;
  }
  .imgDetail{
    height: 125px;
    width: 100%;
    
    margin-left: -85px;
   
    img{
      width: 90px;
      height: 90px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    .noimage{
      height: 90px;
      width: 90px;
      margin-left: -180px;
    }
  }
  
  .imgprofile{
    width: 200px;
    border-radius: 50%;
    height: 80;
    height: 200px;
    position: absolute;
    margin-top: -100px;
    margin-left: 30px;
  }
  .profilefullName{
    margin-top: -140px;
    margin-left: 240px;
    color: #f5f5f5;
    position: relative;
  }
  .emailprofile{
    position: absolute;
    margin-top: -110px;
    margin-left: 240px;
    
  }
  .DetailStatus{
    color: black;
    font-size: 20px;
    
    margin-left: 45px;
  }
  .DetailAdress{
    color: black;
    font-size: 20px;

    margin-left: 45px;
  }
  .DetailPhone{
    color: black;
    font-size: 20px;
   
    margin-left: 45px;
  }
 
}