.imageprofile {
    width: 200px;
    height: 200px;
    position: absolute;
    img {
      border: 3px solid white;
      margin-left: 50px;
      margin-top: 190px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
  
  .mainimageprofile {
    width: 100%;
    height: 250px;
    position: absolute;
    margin-left: 20px;
  }
  .profile{
    background-color: #fafafa;
  }
  .mainprofile {
    
    width: 100%;
    
  }
  
  .buttonprofile {
    border: 0px;
    background-color: white;
  }
  
  .profilefullName {
    margin-top: 210px;
    margin-left: 270px;
    color: #f5f5f5;
    position: absolute;
  }
  
  .emailprofile {
    margin-top: 260px;
    margin-left: 110px;
    position: relative;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .imageprofile:hover .iconimg {
    opacity: 1;
  }
  
  .iconimg {
    position: relative;
    margin-left: 140px;
    margin-top: -450px;
    opacity: 0;
  }
  .iconimg:hover{
    opacity: 1
  }
  .uploadprofile {
    margin-top: 40px;
    margin-left: 200px;
  }
  
  .headerupdateimageprofile, .headerupload {
    margin-left: 200px;
    margin-top: 20px;
  }
  
  .inputupload {
    margin-left: 300px;
    margin-top: -40px;
  }
  
  .imageuploadprofile {
    width: 200px;
    margin-left: 200px;
  }
  
  .imageprofilenoproilfe {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid white;
    position: absolute;
    margin-left: 500px;
    margin-top: 10px;
  }
  
  .buttonupdateimage {
    margin-left: 200px;
  }
 
  .imgpost{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -500px;
  }
  .imgpost img{
    width: 100px;
    height: 100px;
    margin-left: -270px;
  }
.Postprofile{
  width: 90%;
  position: absolute;
  margin-top: 120px;
  margin-left: 5%;
}
.button{
  color: #212529;
  border: 0px;
  background-color: #e9ecef;
}