.profile{
    margin-left: 5%;
    width: 90%;
    background-color: #ffffff;
    
    color: rgba(0, 0, 0, 0.65);
    img{
      height: 300px;
      width: 100%;
    }
    .profilerightname{
        margin-left: -30px;
        
        background-color: #ffffff;
        .PostProfile{
          color: black;
          width: 100%;
          height: auto;
          .postimageIcon{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-left: -430px;
            margin-top: 10px;
          }
          .namepost{
            
            margin-left: 100px;
            margin-top: -60px;
            position: absolute;
          }
          .postprofiledetail{
            width: 100%;
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            p{
              text-align: left;
              width: 90%;
              word-break: break-word;
              margin-left: 30px;
            }
          }
          .time{
            color: black;
            margin-left: 100px;
            margin-top: -40px;
            position: absolute;
          }
          .imgpostprofile{
            width: 95%;
            /* height: 60px; */
            border-radius: 50%;
            /* margin-left: -430px; */
            margin-top: 10px;
            img{
              width: 95%;
          height: 200px;
          margin-left: 20px;
            }
          }
          .menu{
            width: 100%;
            /* position: absolute; */
            /* margin-top: 220px; */
            margin-top: 20px;
            margin-left: -40px;
            .button{
              border: 0px;
              color: black;
              background-color: #ffffff;
              width: 150px;
            }
          }
        }   
      }
     .commentprofile{
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
       .commentimageIcon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: -430px;
        margin-top: 10px;
      }
      .nameprofile{
        
        margin-left: 100px;
        margin-top: -40px;
        position: absolute;
      }
      .Commentprofile{
        width: 80%;
    margin-left: 90px;
    margin-top: -40px;
    margin-bottom: 10px;
    background-color: #e8e8e8;
    border-radius: 30px;
        p{
          text-align: left;
          width: 90%;
          word-break: break-word;
          margin-left: 30px;
          /* margin-top: 10px; */
          margin-top: -10px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .timeprofile{
        color: black;
        margin-left: 100px;
        margin-top: -25px;
        position: absolute;
      }
     }
}
