.postcomment{
    width: 100%;
    .newcommenticon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 90px;
    }
    .right-postcomment{
        width: 60%;
        margin-left: 10px;
    }
}
.editpost{
    width: 90%;
    margin-left: 5%;
    .imageproduct{
        .image{
            width: 95%;
            height: auto;
            margin-top: 10px;
            margin-left: -230px;
        img{
            width: 200px;
            height: 200px;
        }
        }
        .span{
            margin-top: -205px;
            margin-left: -155px;
        }
      
    }
    .button-post{
        width: 95%;
        margin-top: 170px;
        margin-left: -110px;
    }
}