 .createpost{
    margin-top: 10px;
    margin-left: 100px;
    width: 500px;
    height: 500px;
    
}
.createpost h3{
    color: #0000ff;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 10px;
}
.formcreatepost{
    padding-top: 10px;
    padding-left: 30px;
}
.formcreatepost h4{
    font-size: 20px;
    
}
.Post .button{
    color: #212529;
    border: 0px;
    background-color: #ffffff;
  }
.formcreatepost .form-control{
    display: block;
      width: 400px;
      
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: black;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      margin-left: 150px;
      margin-top: -40px;
  }
  .imageproduct{
      margin: 5px;
      float: left;
  }
.imageproduct img{
    width: 50px;
    height: 50px;
}
.button-post{
    margin-left: -20px;
   margin-top: 60px;
}

/* /////post */
/* .postitem{
    width: 30%;
    float: left;
    margin-left: 36px;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;

}
.postitemimg{
    width: 280px;
    height: 280px;
    
}
.posttitle{
    position: absolute;
    color: white;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 190px;
    text-transform: uppercase;
    opacity: 0;
}
.postitem:hover .posttitle{
    opacity: 1;
}
.postdetail{
    position: absolute;
    color: white;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 210px;
    opacity: 0;
}
.postitem:hover .postdetail{
    opacity: 1;
}
/*  */
/* .postedittitle{
    position: absolute;
    color: white;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 150px;
    opacity: 0;
}
.postitem:hover .postedittitle{
    opacity: 1;
}
.neweye{
    position: absolute;
    color: white;
    font-size: 15px;
    margin-left: -150px;
    margin-top: 210px;
    opacity: 0;
    
}
.postitem:hover .neweye{
    opacity: 1;
} */
/* .newlike{
    position: absolute;
    color: white;
    font-size: 15px;
    margin-left: -110px;
    margin-top: 210px;
    opacity: 0;
}
.postitem:hover .newlike{
    opacity: 1;
}  */
.Post{
    margin-left: 5%;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Comment{
    /* color: */
    width:100%;
    margin-top:10px;
}