
.right-postcomment{
    margin-left: 5px;
    margin-bottom: 10px;
    width: 80%;
}
.left-comment{
    width: 15%;
    
}

.postcommentitem{
    border: 1px solid #d9d9d9;
    border-top: 0px;
}
.right-comment{
    width: 15%;
    float: right;
    margin-top: -1050px;
}
.right-comment .form-control{
    display: block;
    width: 100%;
    border: 15px;
    
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.center-comment{
    width: 68%;
}
.left-postcommentitem{
    float: left;
    width: 20%;
    margin-left: 30px;
}
.right-postcommentitem{
    width: 70%;
    margin-left: 150px;
    margin-top: -30px;
    height: 40px;
}
.rowpostitem{
    width: 100%;
}